# Renombar a .env y completa los valores
# por ejemplo JWT_SECRET=claveSecretaSuperSeguraDuoc2024xK9m
JWT_SECRET=<clave-minimo-32-caracteres>

#Reemplazar con tus credenciales de AWS
AWS_ACCESS_KEY=access_key
AWS_SECRET_KEY=secret_key
AWS_SESSION_TOKEN=session_token
AWS_REGION=us-east-1
AWS_BUCKET_NAME=nombre-bucket