# Renombrar a .env y completar los valores

AZURE_ISSUER_URI=https://<tu-tenant>.b2clogin.com/<tenant-id>/v2.0/
AZURE_JWK_SET_URI=https://<tu-tenant>.b2clogin.com/<tu-tenant>.onmicrosoft.com/<user-flow>/discovery/v2.0/keys

AWS_ACCESS_KEY=<tu-access-key>
AWS_SECRET_KEY=<tu-secret-key>
AWS_SESSION_TOKEN=<tu-session-token>
AWS_REGION=us-east-1
AWS_BUCKET_NAME=<nombre-de-tu-bucket>